@use "../abstracts/tokens" as tokens;

// # BOX MODEL
*,
*::before,
*::after {
  box-sizing: border-box;
}

// # DOCUMENT
html {
  min-width: 320px;
  min-height: 100%;
  background-color: tokens.$color-primary-dark;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: tokens.$font-family-body;
  color: tokens.$color-white;
  background-color: tokens.$color-primary-dark;
}

// # FORM CONTROLS
button,
input,
select,
textarea {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

// # MEDIA
img {
  display: block;
}

// # APPLICATION ROOT
#app {
  min-height: 100vh;
}